<div class = "ActivityTable">
<table>
	<tr>
		<td> Summary </td>
		<td> Tag </td>
		<td> Long Description </td>
		<td> Date Started </td>
		<td> Date Completed </td>
		<td> Status </td>
	</tr>
	<% @activities.each do |el| %>
		<tr>
			<td> <%= link_to el.overview, edit_activity_path(el.id) %> </td>
			<td> <%=h el.tag %> </td>
			<!-- div neccessary because of some css bull where overflow doesn't work well with tables. -->
			<td>
				<div> 
					<%= el.content.html_safe %> 
				</div>
			</td>
			<td> <%=h el.started %> </td>
			<% if el.finished.nil? %>
				<td> N/A </td>
			<% else %>
				<td> <%=h el.finished %> </td>
			<% end %>
			<td> <%=h el.status %> </td>
		</tr>
	<% end %>
</table>
</div>

